body {
  background: #ffffff;
  font-family: 'expressway';
  color: #000000;
  max-width: 1024px;
  margin: 0 auto;
  overflow-x: hidden;
}
a {
  color: #ffffff;
}
ul {
  list-style-type: none;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../_assets/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../_assets/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../_assets/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../_assets/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../_assets/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
  font-family: 'expressway';
  src: url('../_assets/fonts/expressway_rg-webfont.eot');
  src: url('../_assets/fonts/expressway_rg-webfont.eot?#iefix') format('embedded-opentype'), url('../_assets/fonts/expressway_rg-webfont.woff') format('woff'), url('../_assets/fonts/expressway_rg-webfont.ttf') format('truetype'), url('../_assets/fonts/expressway_rg-webfont.svg#expressway_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn-gold {
  color: #ffffff;
  background: #8cc63f;
}
.btn-silver {
  color: #000000;
  font-weight: bold;
  background: #e2e2e2;
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), color-stop(100%, #fefefe));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -o-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -ms-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}
.error,
.red {
  color: #ed0000;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.yellow-text {
  color: #ffd441 !important;
}
.normal-white-space {
  white-space: normal !important;
}
.span-link {
  color: #ed0000;
  cursor: pointer;
}
.span-link:hover {
  text-decoration: underline;
}
a {
  cursor: pointer;
}
a.red-link {
  color: #ed0000;
}
a.gold-btn {
  color: #000000;
}
a.white-link {
  color: #ffffff !important;
  text-decoration: underline;
}
a.yellow-link {
  color: #ffd441 !important;
  text-decoration: underline;
}
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
}
.form-group > span {
  vertical-align: bottom;
}
.generic-page-wrapper .generic-page-inner {
  background: #ffffff;
  width: 100%;
  margin: 0 auto;
  color: #000000;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .generic-page-wrapper .generic-page-inner {
    width: 100%;
  }
}
a {
  color: #ed0000;
}
.content-wrapper {
  width: 100%;
}
.content-wrapper .content-inner {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
}
.home-page-inner {
  margin-top: 10px;
}
.store-location-area {
  display: table;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .store-location-area {
    display: block;
  }
}
.store-location-area .store-location-left {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
@media only screen and (max-width: 1000px) {
  .store-location-area .store-location-left {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.store-location-area .store-location-right {
  display: table-cell;
  vertical-align: bottom;
  width: 50%;
}
@media only screen and (max-width: 679px) {
  .store-location-area .store-location-right {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 1000px) {
  .store-location-area .store-location-right {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}
.store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content {
  width: 100%;
}
.store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-top {
  background: #ffffff;
  padding: 14px;
  overflow: hidden;
}
@media only screen and (max-width: 630px) {
  .store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-top > span {
    text-align: center;
    display: block;
    margin: 0 auto;
    float: none !important;
  }
}
.store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-bottom {
  display: table;
  width: 100%;
  background: #ffffff;
  padding: 14px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-bottom-left,
.store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-bottom-right {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
@media only screen and (max-width: 679px) {
  .store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-bottom-left,
  .store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-bottom-right {
    display: block;
    width: 100%;
  }
}
section.account-page-top {
  text-align: center;
}
.header {
  width: 100%;
  max-width: 1024px;
  margin-bottom: 20px;
}
.header__mobile-only {
  display: none;
}
@media only screen and (max-width: 679px) {
  .header__mobile-only {
    display: block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
  }
  .header__mobile-only header.main {
    height: 55px;
    background: #ffffff;
  }
  .header__mobile-only header.main > span {
    float: left;
  }
  .header__mobile-only header.main > span.mobile-nav {
    margin-left: 2%;
    width: 18%;
    text-align: left;
    margin-top: 12px;
  }
  .header__mobile-only header.main > span.mobile-logo {
    width: 60%;
    text-align: center;
    margin-top: 9px;
  }
  .header__mobile-only header.main > span.mobile-logo img.company_logo {
    height: 32px;
  }
  .header__mobile-only header.main > span.mobile-basket {
    margin-right: 2%;
    width: 18%;
    text-align: right;
    margin-top: 12px;
  }
  .header__mobile-only header.main > span.mobile-basket span.text {
    position: relative;
    left: -2px;
  }
  .header__mobile-only header.main > span.mobile-basket .cart-item-count {
    width: 16px;
    height: 16px;
    font-size: 11px;
    color: #ffffff;
    line-height: 16px;
    text-align: center;
    background: #000000;
    top: 5px;
    right: 0;
    position: absolute;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .header__mobile-only header.main > span span.text {
    font-size: 9px;
    text-transform: uppercase;
    color: #510000;
    display: block;
  }
}
.header__desktop-only {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
  border-radius: 0 0 5px 5px;
  display: block;
}
@media only screen and (max-width: 679px) {
  .header__desktop-only {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header__desktop-only {
    width: 100%;
  }
}
.header__desktop-only header.main {
  height: 70px;
  background: #ffffff;
  padding: 0 18px;
}
.header__desktop-only header.main .company_logo {
  margin-top: 16px;
  width: 250px;
}
.header__desktop-only header.main .header-links {
  line-height: 70px;
}
.header__desktop-only header.main .header-links a {
  padding: 5px 8px;
  background: #ffffff;
  margin-right: 5px;
  color: #575757;
}
.header__desktop-only header.main .header-links a:hover {
  text-decoration: none;
}
.header__desktop-only header.main .header-links a:last-child {
  margin-right: 0;
}
.header__desktop-only header.main .header-links a.welcome-user {
  background: transparent;
}
.header__desktop-only header.main .header-links a.header-basket {
  background: transparent;
  padding: 0;
  position: relative;
  top: -2px;
}
.header__desktop-only header.main .header-links a.header-basket .cart-item-count {
  width: 16px;
  height: 16px;
  font-size: 11px;
  color: #ffffff;
  line-height: 16px;
  text-align: center;
  background: #000000;
  top: -5px;
  right: -16px;
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header__desktop-only nav.main-nav {
  background: #00853e;
  border-radius: 0 0 5px 5px;
  height: 38px;
  position: relative;
}
.header__desktop-only nav.main-nav .nav {
  float: left;
}
.header__desktop-only nav.main-nav .nav > li {
  border-right: 1px solid #ffffff;
}
.header__desktop-only nav.main-nav .nav > li a {
  padding: 7px 20px;
  font-size: 17px;
  color: #ffffff;
}
.header__desktop-only nav.main-nav .nav > li a.deals {
  border-radius: 0 0 0 4px;
  background: #1c1c1c;
  background: -moz-linear-gradient(top, #1c1c1c 0%, #1f1f1f 12%, #242424 25%, #1a1a1a 39%, #0f0f0f 50%, #000000 51%, #050505 60%, #0f0f0f 76%, #0a0a0a 91%, #050505 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #1c1c1c), color-stop(12%, #1f1f1f), color-stop(25%, #242424), color-stop(39%, #1a1a1a), color-stop(50%, #0f0f0f), color-stop(51%, #000000), color-stop(60%, #050505), color-stop(76%, #0f0f0f), color-stop(91%, #0a0a0a), color-stop(100%, #050505));
  background: -webkit-linear-gradient(top, #1c1c1c 0%, #1f1f1f 12%, #242424 25%, #1a1a1a 39%, #0f0f0f 50%, #000000 51%, #050505 60%, #0f0f0f 76%, #0a0a0a 91%, #050505 100%);
  background: -o-linear-gradient(top, #1c1c1c 0%, #1f1f1f 12%, #242424 25%, #1a1a1a 39%, #0f0f0f 50%, #000000 51%, #050505 60%, #0f0f0f 76%, #0a0a0a 91%, #050505 100%);
  background: -ms-linear-gradient(top, #1c1c1c 0%, #1f1f1f 12%, #242424 25%, #1a1a1a 39%, #0f0f0f 50%, #000000 51%, #050505 60%, #0f0f0f 76%, #0a0a0a 91%, #050505 100%);
  background: linear-gradient(to bottom, #1c1c1c 0%, #1f1f1f 12%, #242424 25%, #1a1a1a 39%, #0f0f0f 50%, #000000 51%, #050505 60%, #0f0f0f 76%, #0a0a0a 91%, #050505 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#050505', GradientType=0);
}
.header__desktop-only nav.main-nav .nav > li ul.dropdown-menu {
  background-color: #ca1900;
  margin: -1px 0px 0px -3px;
}
.header__desktop-only nav.main-nav .nav > li ul.dropdown-menu a {
  color: #ffffff;
  font-size: 15px;
}
.header__desktop-only nav.main-nav .nav > li ul.dropdown-menu a:hover {
  background: #971300;
}
.footer {
  width: 100%;
}
.footer .copyright {
  padding-top: 10px;
}
.footer .copyright__text {
  text-align: center;
}
.promo {
  min-height: 320px;
}
.promo__image img {
  width: 100%;
  max-height: 320px;
}
@media only screen and (max-width: 768px) {
  .promo__image img {
    height: auto;
  }
}
.store-location-search__title {
  font-size: 16px;
}
.store-location-search__form .form-control {
  display: inline-block;
}
@media only screen and (max-width: 500px) {
  .store-location-search__form .form-control {
    display: block;
    margin: 0 auto;
    margin-top: 4px;
    width: 95% !important;
  }
}
.store-location-search__form .form-control.cityLocation {
  width: 140px;
}
.store-location-search__form .form-control.select-state-location {
  width: auto;
}
.store-location-search__form .form-control.zipCodeLocation {
  width: 86px;
}
.store-location-search__form .store-location-or-splitter {
  margin: 0 5px;
}
.store-location-search__form button.btn-gold {
  vertical-align: top;
}
@media only screen and (max-width: 500px) {
  .store-location-search__form button.btn-gold {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
  }
}
.store-location-pickup-delivery-info {
  font-size: 14px;
  text-align: center;
}
.store-location-pickup-delivery-info__pickup__text-large,
.store-location-pickup-delivery-info__delivery__text-large {
  font-size: 22px;
}
.page-heading__primary-heading {
  font-size: 30px;
}
.store-address {
  margin: 30px 0;
}
.store-address__label {
  float: left;
  color: gray;
  width: 20%;
}
@media only screen and (max-width: 425px) {
  .store-address__label {
    display: none;
  }
}
.store-address__location {
  font-weight: bold;
  margin-left: 21%;
}
@media only screen and (max-width: 425px) {
  .store-address__location {
    text-align: center;
    margin: 0 auto;
  }
}
.store-address__links {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 425px) {
  .store-address__links {
    white-space: nowrap;
  }
}
.store-description__text {
  font-size: 12px;
  color: gray;
}
.store-hours {
  font-size: 13px;
}
@media only screen and (max-width: 360px) {
  .store-hours {
    font-size: 11px;
  }
}
.store-hours__list > li {
  display: table;
  width: 100%;
}
.store-hours__list > li > span {
  display: table-cell;
}
.store-hours__list-label-day,
.store-hours__list-day {
  max-width: 100px;
  width: 20%;
}
.store-hours__list-label-pickup,
.store-hours__list-label-delivery {
  font-weight: bold;
  max-width: 175px;
  width: 36%;
}
.store-hours__list-pickup,
.store-hours__list-delivery {
  max-width: 175px;
  width: 36%;
}
.store-map__inner {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  max-width: 420px;
}
@media only screen and (max-width: 679px) {
  .store-map__inner {
    max-width: none;
  }
}
.store-map__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
.store-services {
  margin: 30px 0;
  font-size: 13px;
}
.store-services__details {
  margin-left: 40px;
  font-weight: bold;
}
.store-services-quick-order__title {
  font-size: 20px;
  color: #000000;
  vertical-align: middle;
  float: left;
}
.store-services-quick-order__buttons {
  margin-left: 15px;
  float: left;
}
@media only screen and (max-width: 630px) {
  .store-services-quick-order__buttons {
    margin: 5px 0 12px 0 !important;
  }
}
.store-services-quick-order__buttons-button {
  width: 120px;
}
.store-services-quick-order__buttons-button.delivery-btn {
  margin-right: 15px;
}
.account-navigation__links-group {
  display: inline-block;
}
@media only screen and (max-width: 400px) {
  .account-navigation__links-group {
    width: 98%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 679px) {
  .account-navigation__links-group {
    width: 48%;
  }
}
.account-navigation a {
  background: #ffffff;
  color: #00853e;
  margin: 0 2px;
}
.account-navigation a.btn:focus,
.account-navigation a.btn:active,
.account-navigation a.btn:hover {
  color: #00853e;
}
.account-navigation a.account-navigation__links-link__active {
  color: #ffffff;
  background: #00853e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.account-navigation a.account-navigation__links-link__active.btn:focus,
.account-navigation a.account-navigation__links-link__active.btn:active,
.account-navigation a.account-navigation__links-link__active.btn:hover {
  color: #ffffff;
}
@media only screen and (max-width: 679px) {
  .account-navigation a {
    width: 99%;
    margin-bottom: 7px;
  }
}
