<article class="{{clazz}}" about="{{about}}" typeof="{{typeof}}">								
	<header>
		<h1 class="hotel_name">{{{name}}}</h1>
	</header>

	<section id="home_hotel_desc" property="{{typeof}}">
		{{{description}}}
	</section>	
</article>