<p class="newsletter {{clazz}}" about="{{about}}" typeof="{{typeof}}">
	{{{labels.emailsignup.joinnewsletter}}}
	<button class="newsletter__button" id="show-newsletter" data-reveal-id="join-newsletter" data-tag="wh-join-newsletter-click">{{{labels.emailsignup.join}}}</button>
	<div id="join-newsletter" class="reveal-modal" data-reveal=""></div>
</p>