<div class="{{clazz}}" about="{{about}}" typeof="{{typeof}}">
{{#amenities}}
	<article class="amenities__item">
		<header>
			<h1>{{{name}}}</h1>
		</header>

		<section class="amenities__image">
			{{{imageHtml}}}
		</section>

		<section class="amenities__description">
			<p>
				{{{description}}}
			</p>
		</section>
	</article>
{{/amenities}}
</div>