<div class="{{clazz}}" about="{{about}}" typeof="{{typeof}}">	
	<h2>{{{labels.general.directions}}}</h2>
	
	<div id="location-map" class="map-wrapper">		
		<div style="overflow:hidden;">
			<div id="map" class="map"></div>
		</div>
	</div>

	<h3>{{{labels.general.address}}}</h3>

	<h4>{{location.name}}</h4>
	<p class="address">{{{location.address}}}</p>

	<h3>{{{labels.general.directions}}}</h3>
	<p class="dir-text">{{{location.directions}}}</p>
	
</div>