<div class="{{class}}" about="{{about}}" typeof="{{typeof}}">
	<header>
	   <h3>{{{labels.layerforgotpassword.userforgotpasswordtitle}}}</h3>
	</header>
	<section>
		<form data-tag="wh-forgot-password" action="/user/forgotpassword.cmd" method="post">
			<input type="hidden" name="page" value="true"/>
		{{#parameters.showSuccess}}
			<div class="panel">
				<p class="note">{{{labels.layerforgotpassword.forgotyourpasswordconfirminstructions1}}}</p>
				<p class="note">{{{labels.layerforgotpassword.forgotyourpasswordconfirminstructions2}}}</p>
			</div>			
		{{/parameters.showSuccess}}
		{{^parameters.showSuccess}}
			<p class="note">{{{labels.layerforgotpassword.forgotyourpasswordinstructions}}}</p>			
			{{#showError}}
			<p class="error">{{messages.errorMessage}}</p>
			<small class="error">{{{labels.layerforgotpassword.userentertextcorrectinformation}}}</small>
			{{/showError}}
			<!-- user name  -->
			<div class="form-group">
				<label for="useremail">{{{labels.general.emailaddress}}}</label>
				<input id="userEmail" name="userEmail" type="text" size="20" maxlength="40" placeholder="{{labels.layerforgotpassword.enteremailaddress}}" required pattern="email"/>
			</div>
			<div class="call-to-action">
				<button id="forgot_forgotPassword_ajax" class="button" type="submit" data-tag="wh-forgot-password-click" onclick="generalDialog.forgotPassword()">
					{{{labels.layerforgotpassword.sendmypassword}}}
				</button>
			</div>
		{{/parameters.showSuccess}}
		</form>
	</section>
</div>